body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}



.header{
    display: flex;
    justify-content: space-between;
    
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    font-size: 24px;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    align-items: center;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

.sektionEins{
    padding: 40px;
}

.buttonEins ,
.buttonZwei {
    background: #3882F6;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;    
}

.buttonEins{
    border: none;
}

.buttonZwei{
    border-color: white;
}

.heroMain{
    font-size: 48px;
    font-weight: 800;
}

.heroSub{
    font-size: 18px;
    color: #e5e7eb;
}
.textSektion{

}

.bildSektion{
}

.sektionZwei{
    flex-direction: column;
    text-align: center;
}

.title{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 16px ;
}

.container{
    display: flex;
    gap: 32px;
    justify-content: center;

}

.info{
    max-width: 150px;
}

.bildRahmen{
    border: 5px solid #3882F6;
    border-radius: 5px;
}




.sektionDrei{
    background: #e5e7eb;
    
    padding: 0px 40px;
    flex-direction: column;
    
}

.zitat{
    margin-top: -40px;
    align-self: flex-end;
}

.zitatText{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.sektionVier{
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    background: #3882F6;
    align-items: center;
    padding: 8px 40px;
    gap: 32px;
    
}

.callToAction{
    margin-bottom: -16px;
}



.sektionEins,
.sektionZwei,
.sektionDrei,
.sektionVier{
    display: flex;
    flex:1;
}

.footer{
    text-align: center;
    padding: 12px;
}

.sektionEins,
.header ,
.footer {
    background: #1F2937;
    color: #F9FAF8;
}