body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}



.header{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    align-items: center;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

.sektionEins{
    padding: 40px;
}

.textSektion{

}

.bildSektion{
}

.sektionZwei{
    flex-direction: column;
    text-align: center;
}

.title{
    margin-bottom: 16px ;
}

.container{
    display: flex;
    gap: 32px;
    justify-content: center;

}

.info{
    max-width: 150px;
}



.sektionDrei{
    background: #e5e7eb;
    padding: 40px;
    padding-bottom: 0px;
    flex-direction: column;
    
}

.zitat{
    margin-top: -40px;
    align-self: flex-end;
}

.sektionVier{
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    background: #3882F6;
    align-items: center;
    padding: 8px 40px;
    gap: 32px;
    
}

.callToAction{
    margin-bottom: -16px;
}



.sektionEins,
.sektionZwei,
.sektionDrei,
.sektionVier{
    display: flex;
    flex:1;
}

.footer{}

.sektionEins,
.header ,
.footer {
    background: #1F2937;
    color: #F9FAF8;
}